<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Open Cart Suite"  verbose="4"  parallel="tests"  thread-count="5">

<listeners>
 <listener class-name= "com.dynamics.crm4.poqa.proMXSeleniumFramework.listeners.ExtentReportListener" />
 <listener class-name= "com.dynamics.crm4.poqa.proMXSeleniumFramework.listeners.TestAllureListener" />
 
</listeners>

     <test name=""  >
       <parameter name="browser" value="chrome" />
		<classes>
			 <class name="" />
		</classes>
	</test>

	
	
	
	
	
	
	
	


</suite>